.collapse {
    width: 100%;
    max-width: 1023px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px auto;
}

.collapse-header {
    background-color: #ff6060;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    height: 52px;
}

.collapse-content {
    background-color: #F6F6F6;
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    color: black;
}

.arrow {
    width: 24px;
    /* ajusta según el tamaño de tu SVG */
    height: auto;
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
    /* pointe vers le haut par défaut */
}

.arrow.open {
    transform: rotate(180deg);
}

/***** MEDIA *****/

@media screen and (max-width: 768px) {
    .arrow {
        width: 16px;
        height: 9px;
    }
}