.header {
    width: 1240px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.logo {
    height: 68px;
    width: 210PX;
}

.nav {
    display: flex;
    gap: 57px;
}

.nav-link {
    color: black;
    font-size: 24px;
    font-weight: 500;
    line-height: 143%;
}

.nav-link.active {
    text-decoration: underline;

}

.nav-link:hover {
    color: black;
}