.home {
    margin-bottom: 40px;
}

.gallery {
    max-width: 1240px;
    background-color: #F6F6F6;
    padding: 40px;
    border-radius: 25px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;
    max-width: 1120px;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

/***** MEDIA *****/

@media screen and (max-width: 768px) {
    .gallery {
        max-width: 100%;
        padding: 0;
        margin: 20px auto;
        background-color: transparent;
    }

    .gallery-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 22px;
        padding: 0;
        justify-items: center;
    }

    .card {
        width: 335px;
        height: 255px;
    }
}